body {
  background-color: rgb(230, 203, 173);
  font-family:fantasy;
  color:midnightblue;
  font-size: 18px;
}

ul {
  border: 2px dashed black;
  padding: 20px;
}

nav {
  background-color: darkgoldenrod;
  font-family:SegoeUI;
  font-size: 32px;
  gap: 15px;
}
nav a:hover {
  background-color: saddlebrown;
  color:rgb(3, 15, 83);
}